absl-py==1.4.0
aiofiles==22.1.0
aiosqlite==0.18.0
anyio==3.6.2
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.8.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
asyncio==3.4.3
attrs==22.2.0
Babel==2.11.0
backcall==0.2.0
batinfo==0.4.2
bcrypt==3.2.0
beautifulsoup4==4.11.2
beniget==0.4.1
bernhard==0.2.6
bleach==6.0.0
blinker==1.4
bloom==0.12.0
bottle==0.12.25
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
CacheControl==0.12.10
cachetools==5.3.0
cachy==0.3.0
catkin-pkg==1.0.0
catkin-pkg-modules==1.0.0
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.0.1
chevron==0.14.0
clang==17.0.6
cleo==0.8.1
click==8.0.3
clikit==0.6.2
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.2.1
colcon-cmake==0.2.28
colcon-common-extensions==0.3.0
colcon-core==0.18.1
colcon-defaults==0.2.8
colcon-devtools==0.3.0
colcon-installed-package-information==0.2.1
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-mixin==0.2.3
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-override-check==0.0.1
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.9
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.4
comm==0.1.4
command-not-found==0.3
commonmark==0.9.1
configobj==5.0.6
contourpy==1.0.7
cov-core==1.15.0
coverage==6.2
crashtest==0.3.1
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
dataclasses==0.6
dbus-python==1.2.18
debugpy==1.6.6
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.13
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.5.0
docker==7.0.0
docutils==0.17.1
drawdata==0.2.0
dulwich==0.20.31
duplicity==0.8.21
elastic-transport==8.12.0
elasticsearch==8.12.0
empy==3.3.4
enum34==1.1.10
executing==1.2.0
fastbencode==0.0.5
fasteners==0.14.1
fastimport==0.9.14
fastjsonschema==2.16.2
filelock==3.13.1
flake8==4.0.1
flatbuffers==23.1.21
fonttools==4.38.0
fortran-language-server==1.12.0
fqdn==1.5.1
fs==2.4.12
fsspec==2024.2.0
future==0.18.2
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.43
Glances==3.4.0.3
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpg==1.16.0
greenlet==1.1.2
grpcio==1.51.1
h11==0.14.0
h5py==3.8.0
html5lib==1.1
httpcore==1.0.2
httplib2==0.20.2
httpx==0.26.0
idna==3.4
ifaddr==0.2.0
imageio==2.31.1
importlib-metadata==4.6.4
importlib-resources==6.1.0
iniconfig==1.1.1
ipykernel==6.21.1
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
jedi==0.18.2
jeepney==0.7.1
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter-server-mathjax==0.2.6
jupyter-ydoc==0.2.5
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter_server==2.14.1
jupyter_server_fileid==0.9.3
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterlab==4.3.0
jupyterlab-pygments==0.2.2
jupyterlab-vim==4.1.3
jupyterlab-visualpython==2.5.0
jupyterlab-widgets==3.0.9
jupyterlab_git==0.50.1
jupyterlab_server==2.27.2
kafka-python==2.0.2
keras==2.11.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==23.5.0
kiwisolver==1.4.4
language-selector==0.1
lapx==0.5.9.post1
lark==1.1.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==15.0.6.1
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.6.3
matplotlib-inline==0.1.6
mccabe==0.6.1
mdurl==0.1.2
mercurial==6.1.1
mistune==2.0.5
monotonic==1.6
more-itertools==8.10.0
mpi4py==3.1.3
mpmath==0.0.0
msgpack==1.0.3
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbdime==4.0.1
nbformat==5.7.3
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.2.1
nose2==0.9.2
notebook==6.5.2
notebook_shim==0.2.2
notify2==0.3
numpy==1.24.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile==0.46
opencv-python==4.9.0.80
opt-einsum==3.3.0
overrides==7.7.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
paramiko==2.9.3
parso==0.8.3
pastel==0.2.1
patiencediff==0.2.1
pbkdf2==1.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pkginfo==1.8.2
plaidml==0.7.0
platformdirs==3.0.0
pluggy==0.13.0
ply==3.11
podman==4.9.0
poetry==1.1.12
poetry-core==1.0.7
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
py-cpuinfo==9.0.0
py3nvml==0.2.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycodestyle==2.8.0
pycparser==2.21
pycryptodomex==3.20.0
pycups==2.0.1
pydocstyle==6.1.1
pydot==1.4.2
pyflakes==2.4.0
pygal==3.0.4
PyGithub==1.55
Pygments==2.14.0
PyGObject==3.42.1
pygraphviz==1.7
PyJWT==2.3.0
pylev==1.2.0
pymacaroons==0.13.0
pymdstat==0.4.3
pymongo==4.6.1
PyNaCl==1.5.0
pynvim==0.4.2
pyparsing==3.0.9
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyRFC3339==1.1
pyrsistent==0.19.3
pySMART.smartx==0.3.10
pysmi==0.3.4
pysnmp==4.4.12
pytest==6.2.5
pytest-cov==3.0.0
python-apt==2.4.0+ubuntu4
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-decouple==3.8
python-gitlab==2.10.1
python-json-logger==2.0.4
python-poppler-qt5==0.75.0
pythran==0.10.0
pytz==2022.7.1
pyxdg==0.27
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.4
QtPy==2.4.0
referencing==0.35.1
reportlab==3.6.8
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==12.6.0
roman==3.3
rosdep==0.25.1
rosdep-modules==0.25.1
rosdistro==1.0.1
rosdistro-modules==1.0.1
rospkg-modules==1.5.1
rpds-py==0.18.1
rsa==4.9
scandir==1.10.0
scikit-learn==1.2.1
scipy==1.10.0
scour==0.38.2
seaborn==0.12.2
SecretStorage==3.3.1
Send2Trash==1.8.3
shellingham==1.4.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
sparklines==0.4.2
ssh-import-id==5.11
stack-data==0.6.2
sweetviz==2.2.1
sympy==1.9
systemd-python==234
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.30.0
termcolor==2.2.0
terminado==0.17.1
textual==0.1.18
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tinycss2==1.2.1
tiptop==0.2.8
toml==0.10.2
tomli==2.0.1
tomlkit==0.9.2
torch==2.2.1
torchvision==0.17.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
triton==2.2.0
typeguard==2.2.2
typing_extensions==4.10.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
ujson==5.9.0
ultralytics==8.1.24
unattended-upgrades==0.1
unicodedata2==14.0.0
uri-template==1.2.0
urllib3==1.26.14
usb-creator==0.3.7
vcstool==0.3.0
vcstools==0.1.42
virtualenv==20.13.0+ds
voila==0.5.5
wadllib==1.3.6
wakatime==14.0.1
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==2.2.2
widgetsnbextension==4.0.9
wifi==0.3.8
wrapt==1.14.1
xdg==5
xkit==0.0.0
xmltodict==0.13.0
y-py==0.6.2
ypy-websocket==0.8.4
zeroconf==0.131.0
zipp==1.0.0
